.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.flex-1{
    flex: 1;
}
.container .heading-w{
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    padding-top: 3rem;
    margin-bottom: 1rem; 
    text-shadow: 1px 1px 1px black;
    color: rgba(0, 0, 0, 0.527);
}
.container .heading-w span{
    color: teal;
}
.container .para-w{
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 7rem;
    color: rgba(0, 0, 0, 0.658);
}
.container .heading-b{
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    padding-top: 3rem;
    margin-bottom: 1rem; 
    text-shadow: 1px 1px 1px black;
    color: whitesmoke;
}
.container .heading-b span{
    color: rgb(3, 189, 189);
}
.container .para-b{
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 7rem;
    color: rgba(245, 245, 245, 0.733);
}